.grid-container {
  height: 100vh;
  display: grid;
  background-color: #fff;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 90px 1fr;
}

.header {
  background-color: #fff;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  background-color: #26619c;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main-content {
  background-color: #c3cde6;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
